NEXT_PUBLIC_APP_URL=http://localhost:3000

DB_HOST=localhost
DB_USER=user
DB_PASSWORD=password
DB_NAME=shortlink_db
DB_PORT=5432
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

AUTH_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_GEMINI_API_KEY=